body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

#searchInput {
    padding: 0.5rem;
    width: 80%;
    margin-top: 1rem;
    border: none;
    border-radius: 5px;
}

main {
    padding: 2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.product {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 1rem;
    padding: 1rem;
    width: 200px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.product h2 {
    font-size: 1.2rem;
    margin: 0.5rem 0;
}

.product p {
    font-size: 0.9rem;
    color: #555;
}

.product span {
    font-weight: bold;
    color: #333;
}
